span.header {
    display: block;
    font-style: italic;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

#field {
    display: inline-block;
    margin: 5%;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    width: 15px;
    height: 15px;
}

#leftBar {
    display: inline-block;
    border: 3px double black;
    border-radius: 5%;
    vertical-align: top;
    padding: 0 1%;
    width:12%;
    min-width: 200px;
    text-align: center;
}

div.btn {
    border: 3px double #062831;
    background-color: rgba(115, 255, 154, 0.74);
    margin: 10% auto;
}

div.btn:hover {
    border: 3px solid #062831;
    cursor: pointer;
}


